@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Share/LayoutPage.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/css/StyleSheet.css" />
    <title></title>
</head>
<body>
    <div>
        <div class="Center">
            <img src="~/Images/ABOUT US.png"style="height:100px;" />
        </div>
    </div>
    <div class="active">
        <p>
            <tr>
                
                <br />
                 We are a full service event company
                <br />
                redPEPPER events - for all your events needs.
                <br />
                Your one-stop solution to Event Management,
                <br />
                Marketing Management and Corporate Marketing.
                <br />
                From the smallest to the largest event - we do it all!
                <br />
                We have the expertise, talent,
                <br />
                commitment and experience to co-ordinate any event.
                <br />
            </tr>
        </p>
    </div>

    <div class="last">
        <b><h2>Knowledge & Experience </h2></b>

        <p>
            We have extensive experience in the retail, transport,<br>
            finance and technology event fields.<br />
            We are experienced in set-up and managent of large scale ,<br>
            complex events and marketing projects.<br />

        </p>
        <b><h2>OUR TEAM </h2></b>
        <div class="thumbnails" align="left">
            <img onmouseover="preview.src=img1.src" name="img1" src="~/Images/10469041_1140975045913839_5089574063536573979_n.jpg" alt="" style="height:100px; width:200px;" />
            <img onmouseover="preview.src=img2.src" name="img2" src="~/Images/WIN_20160805_09_09_55_Pro (2).jpg" alt="" style="height:100px; width:200px;" />
            <img onmouseover="preview.src=img2.src" name="img2" src="~/Images/WIN_20161003_07_04_08_Pro.jpg" alt="" style="height:100px; width:200px;" />
        </div>
        <section id="content1">

        </section>
</body>
</html>
