@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Share/LayoutPage.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/css/StyleSheet.css" />
    <title></title>
    <!--[if IE]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>

    <div>
            <img class="mySlides" src="~/Images/Newone.png" style="width:40%">
            <img class="mySlides" src="~/Images/wedding stage decoration.jpg" style="width:40%">
        </div>

        <script>
var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}
    x[myIndex-1].style.display = "block";
    setTimeout(carousel, 2000); // Change image every 2 seconds
}
        </script>
    
            <div class="background" style="height:10%; width:200%;">
                <img src="~/Images/WeAre.png" />
            </div>
        <article style="text-align:right">
            <p
               style="font-family:'Bell MT'; font-size:larger; padding-top:0%; font-size:25px;">
                redPEPPER events uses only the best caterers for our events!
                Let us become your preferred catering company of choice for food that is tasty, delicious and enjoyed by all.
                redPEPPER events not only guarantees a unique taste sensation but can also add an interesting twist
                to your next function. You could have a themed evening,
                team building exercise with hands-on sushi lessons, a beautiful high tea, or simply delicious fusion food.
                A Johannesburg Caterer with a highly organized team will consult with you, tailoring the menu to suit
                your needs, the occasion and your budget. Contact
            </p>
        </article>
    
 
       
</body>
</html>