@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Share/LayoutPage.cshtml";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/css/StyleSheet.css" />
    <title></title>
</head>
<body>
    <div class="tab-content" style="display:block;">
        <div class="items">
            <div class="cl">&nbsp;</div>
            <ul>
                <li>
                    <div class="image"> <a href="#"><img src="~/images/catering2.jpg" alt="" style="width:100%" /></a> </div>
                    <p>
                        Product Name: <span>food</span><br />
                        Product Description:menu <a href="#"></a>
                    </p>
                    <p class="price">Price: <strong>from R12000 - R20000</strong></p>
                </li>
                <li>
                    <div class="image"> <a href="#"><img src="~/images/church-wedding-decorations-2.jpg" alt="" style="width:100%" /></a> </div>
                    <p>
                        Product Name: <span>Weeding decor</span><br />
                        Product Description: Evening events, <a href="#"></a>
                    </p>
                    <p class="price"> Price: <strong> from R10 000 - 20000</strong></p>
                </li>
                <li>
                    <div class="image"> <a href="#"><img src="~/images/marry.jpg" alt="" style="width:100%" /></a> </div>
                    <p>
                        Item Number: <span>125515</span><br />
                        Product Description:romantic-design-luxury-wedd <a href="#"></a>
                    </p>
                    <p class="price"> Price: <strong>R35000</strong></p>
                </li>

                <li>
                    <div class="image"> <a href="#"><img src="~/images/wedding stage decoration.jpg" alt="" style="width:100%" /></a> </div>
                    <p>
                        Item Number: <span>125515</span><br />
                        Product Description: Wedding Decor Classic <a href="#"></a>
                    </p>
                    <p class="price"> Price: <strong>R27000</strong></p>
                </li>

                <li>
                    <div class="image"> <a href="#"><img src="~/images/little kids.jpg" alt="" style="width:100%" /></a> </div>
                    <p>
                        Item Number: <span>125515</span><br />
                        Product Description: Wedding Decor Classic <a href="#"></a>
                    </p>
                    <p class="price"> Price: <strong>R27000</strong></p>
                </li>
                <li>
                    <div class="image"> <a href="#"><img src="~/images/black-and-white-dining-area.jpg" alt="" style="width:100%" /></a> </div>
                    <p>
                        Item Number: <span>125515</span><br />
                        Product Description: Wedding Decor Classic <a href="#"></a>
                    </p>
                    <p class="price"> Price: <strong>R27000</strong></p>
                </li>

            </ul>
            <div class="cl">&nbsp;</div>
        </div>
    </div>
    <section id="content1">

    </section>
</body>
</html>
