@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shares/_LayoutPage.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/css/Style.css" />
    <title></title>
</head>
<body>
    <div>
    
    </div>
</body>
</html>
