@{
    ViewBag.Title = "About";
}



<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/Site.css" type="text/css">
    <title>sdhfsdfgds</title>
</head>

<h1 align="center"> ABOUT US </h1>
<div>
    <img src="~/images/Logobig21.jpg" sizes="50%">
</div>

<p>
    We are a Full Service Event Company

    redPEPPER events - for all your events needs

    Your one-stop solution to Event Management, Marketing Management and Corporate Marketing

    From the smallest to the largest event - we do it all!
    We have the expertise, talent, commitment and experience to co-ordinate any event.
    <h2>Knowledge & Experience</h2>
<p>
    We have extensive experience in the retail, transport, finance and technology event fields.
    We are experienced in set-up and managent of large scale , complex events and marketing projects.
<p />
<h2>Flexibility</h2>
<p> All our events, functions and solutions are bespoke and designed with the clinets objectives at the forefront. Strategic and practical!<p />
<h2>Reliability</h2>
<p> We offer a one-stop-shop for you, the client, no running around on your side. we onl strive to make your proect a full on success.<p />
<h2>Our Team</h2>
<p>
    Highly experienced, consistent, passionate and capable project teams. We have a large group of experts to draw upon from across all sectors and supplis for every need.
    We guarentee quality projects on time delivery.
<p />












    Our services include:
<ol>Field Marketing</ol>
<ol>Weddings</ol>
<ol>Corporate (meetings,functions,team buildings ect.)</ol>
<ol>Consulting</ol>
<ol>Catering</ol>
<ol>Banquets</ol>
<ol>Branding</ol>
<ol>Private</ol>
<ol>Entertainment</ol>
<ol>Photogarphy</ol>
    </p>

