@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<body>

    <h2 class="w3-center">Here are a few pictures from our previous events to give you a sneak peak of our capabilities...</h2>

    <div class="w3-content" style="max-width:800px;position:relative">

        <img class="mySlides" src="~/images/2u4uu.png" style="width:70%">
        <img class="mySlides" src="~/images/catering.png" style="width:70%">
        <img class="mySlides" src="~/images/corporate.jpg" style="width:70%">
        <img class="mySlides" src="~/images/custom.jpg" style="width:70%">
        <img class="mySlides" src="~/images/day.jpg" style="width:70%">
        <img class="mySlides" src="~/images/deco.png" style="width:70%">
        <img class="mySlides" src="~/images/exquisite.jpg" style="width:70%">
        <img class="mySlides" src="~/images/hightea.png" style="width:70%">
        <img class="mySlides" src="~/images/warmer.png" style="width:70%">
        <img class="mySlides" src="~/images/night.jpg" style="width:70%">
        <img class="mySlides" src="~/images/romantic-design-luxury-wedd.jpg" style="width:70%">
        
       

        <a class="w3-btn-floating" style="position:absolute;top:45%;left:0" onclick="plusDivs(-1)">❮</a>
        <a class="w3-btn-floating" style="position:absolute;top:45%;right:25%" onclick="plusDivs(1)">❯</a>

    </div>

    <script>
        var slideIndex = 1;
        showDivs(slideIndex);

        function plusDivs(n) {
            showDivs(slideIndex += n);
        }

        function showDivs(n) {
            var i;
            var x = document.getElementsByClassName("mySlides");
            if (n > x.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = x.length }
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            x[slideIndex - 1].style.display = "block";
        }
    </script>

</body>
</html>
