@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/Site.css" type="text/css">
    <title>bhjhj</title>
</head>
<address>
    117 Hyde lane office Park<br />
    Hyde Park<br />
    <abbr title="Phone">P.O Box</abbr>
    425.555.0100
</address>

<address>
    <strong>Telephone:</strong>   <a>(011)-472-9149</a><br />
    <strong>Fax:</strong> <a>(011)830-2181</a><br />
    <strong>E-mail:</strong> <a href="http://localhost:64491/Home">redPepperEvents@gmail.com</a><br />
    <strong>Website:</strong> <a href="http://localhost:64491/Home/">http://localhost:64491/Home/</a>
</address>

<div id="text">
    <h4 style="display:inline-block;">Name:</h4>
    <input type="text" id="name" style="height:25px;width:300px; color:black; "/><br/>
    <h4 style="display:inline-block;">Email Address:</h4>
    <input type="text" id="name" style="height:25px;width:300px; color:black; " />
  
</div>

