@{
    ViewBag.Title = "Home Page";
}

<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/Site.css" type="text/css">
    <title></title>
</head>

<div class="jumbotron">
    <div>
        <img src="~/images/Logobig21.jpg">
    </div>

    <h1>redPepper Events</h1>
    <p class="lead">
        redPEPPER events uses only the best caterers for our events! Let us become your preferred catering company of choice for food that is tasty, delicious and enjoyed by all.

        redPEPPER events not only guarantees a unique taste sensation but can also add an interesting twist to your next function. You could have a themed evening, team building exercise with hands-on sushi lessons, a beautiful high tea, or simply delicious fusion food. A Johannesburg Caterer with a highly organized team will consult with you, tailoring the menu to suit your needs, the occasion and your budget. Contact us for:
    </p>
    <p><a href="Contact" class="btn btn-primary btn-lg">Contact Us &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Food</h2>
        <p>
            <li>Formal Dining</li>
            <li>Cocktail Dining</li>
            <li>Portable Dining</li>
            <li>Buffet Stations</li>
            <li>High Teas</li>
            <li>Spit Braais and Braai platters</li>
            <li>Sushi bar</li>
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn More &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Waiters</h2>
        <p>
            <li>At hand waiter services</li>
            <li>Set-up crew</li>
            <li>Clean-up crew</li>
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Bar Services</h2>
        <p>
            <li>Welcoming Drinks</li>
            <li>Creative Cocktails</li>
            <li>Non-alcoholic drinks (cocktails/punches)</li>
            <li>Wine selection of your choice</li>
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
