@{
    ViewBag.Title = "Product";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/Site.css" type="text/css">
    <title></title>
</head>
<body>
    
        <div class="tab-content" style="display:block;">
            <div class="items">
                <div class="cl">&nbsp;</div>
                <ul>
                    <li>
                        <div class="image"> <a href="#"><img src="~/images/deco.png" alt="" style="width:100%" /></a> </div>
                        <p>
                            Item Number: <span>125515</span><br />
                            Product Description: Decoration for weddings <a href="#"></a>
                        </p>
                        <p class="price">Price: <strong>from R12000 - R20000</strong></p>
                    </li>
                    <li>
                        <div class="image"> <a href="#"><img src="~/images/night.jpg" alt="" style="width:100%" /></a> </div>
                        <p>
                            Item Number: <span>125515</span><br />
                            Product Description: Evening events decor <a href="#"></a>
                        </p>
                        <p class="price"> Price: <strong> from R10 000 - 20000</strong></p>
                    </li>
                    <li>
                        <div class="image"> <a href="#"><img src="~/images/romantic-design-luxury-wedd.jpg" alt="" style="width:100%" /></a> </div>
                        <p>
                            Item Number: <span>125515</span><br />
                            Brand Name:romantic-design-luxury-wedd <a href="#"></a>
                        </p>
                        <p class="price"> Price: <strong>R35000</strong></p>
                    </li>
                   

                </ul>
                <div class="cl">&nbsp;</div>
            </div>
        </div>
</body>
</html>
